language: php
php:
  - 7.3
  - 7.4
os: linux

before_script:
  - composer require php-coveralls/php-coveralls:^1.1
  - composer install
  - cp .env.example .env
  - php artisan key:generate
script:
  - mkdir -p build/logs
  - vendor/bin/phpunit -c phpunit.xml
after_success:
  - travis_retry php vendor/bin/php-coveralls
  # or enable logging
  - travis_retry php vendor/bin/php-coveralls -v
